<!DOCTYPE html>
<html lang="pt">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Site</title>
    <link rel="stylesheet" href="/static/styleHome.css">
</head>



<body>
    <header>
        <h1>DATA SENSORS</h1>
    </header>
    <div class="container">
</head>


<body>
    <div class="container">
        <h2>Welcome</h2>
        <p>Explore the features of our API for managing Sensors:</p>
        <ul>
            <li><a href="/search_values">Check null values</a></li>
            <li><a href="/upload_csv">CSV File</a></li>
            <li><a href="/graphics">Average Value Graphics</a></li>
        </ul>
    </div>
    <script>
        function scrollToTop() {
            window.scrollTo(0, 0);
        }
    </script>
</body>
</html>