<!DOCTYPE html>
<html>
<head>
    <title>Upload de Arquivo CSV</title>
    <link rel="stylesheet" href="/static/styleUpload_csv.css">

</head>


<body>
    <header>
        <a id="linkVoltar" href="javascript:history.back()">←</a>
        <h1>CSV</h1>
    </header>
    <div class="container">
</head>

<body>
    <div class="container">
        <h2>Send CSV File</h2>
        
        <form id="uploadForm" method="POST" action="/upload_csv" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <button type="submit">Send File</button>
        </form>

    </div>


</body>
</html>
